.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 60, 94, 0.76);
  opacity: 1;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: rgba(0, 0, 0, 0.781);
  color: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 80%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
}

.modal h2 {
    margin-bottom: 2%;
}

#artDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2%
    /* justify-content: space-between; */
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
  color: rgb(0, 0, 0);
}

.modal img {
    max-width: 100%;
    height: 70%;
    /* position: fixed; */
}

#description {
    margin-top: 10%;
}