.hood {
    border: 2px solid white;
    background: rgba(95, 95, 95, 0.322);
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hood:hover {
    background: rgba(36, 35, 35, 0.568);

}

.hood h2 {
    color: white;
}