.updateContainer {
    margin-top: 2%;
    /* height: 80vh; */
}

.updateInnerContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 80vh;
    overflow: scroll;
    width: 100vw;
    background: rgba(173, 216, 230, 0.692);
}