.updateContainer {
    margin-top: 2%;
    /* height: 80vh; */
}

.updateInnerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 80vh;
    overflow: scroll;
}