#hoodPageContainer {
    text-align: center;
}
#hoodPageContainer h2 {
    letter-spacing: 2px;
}
span {
    color: white;
}

#hoodInnerContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: transform .5s;
    overflow: scroll;
    height: 80vh;
    margin-top: 2%;
}

#hoodInnerContainer div {
    position: relative;
    text-align: center;
}
