#pageTitle, h2 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

.hoodContainer {
    width: 100%;
    height: 78vh;
    margin: 0 auto;
    margin-top: 1%;
}

h3 {
    color: white;
    text-align: center;
}

#pageTitle {
    color: white;
    width: 100%;
    text-align: center;
}

.hoodLink {
    text-decoration: none;
}

.hood {
    border: 2px solid white;
    background: rgba(95, 95, 95, 0.322);
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .8s;
    color: white;
}

.hood:hover {
    background: rgba(36, 35, 35, 0.568);
}

.hood h2 {
    color: white;
}

.hoodContainer h3 {
    transition: .5s;
    padding: 5px;
}

.hoodContainer h3:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 720px) {
    
    h3 {
        margin-bottom: 5px;
    }
    .hood {
        padding: 10%;
    }
}