#pageTitle, h2 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
}

.hoodContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 5px;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    
    /* position: absolute; */
}

#pageTitle {
    color: white;
    width: 100%;
    text-align: center;
}

.hoodLink {
    text-decoration: none;
}
