header {
    text-align: center;
    width: 100%;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink {
    margin: 10px;
    padding: 5px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
}