header {
    z-index: 2;
}

header i {
    color: white;
    
}

.dropdown {
    position: fixed;
    right: 10px;
    top: 5px;
    
    
}

.dropdown-content {
    display: none;
    position: absolute;
    
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.336);
    right: 0;
}

#pageTitle {
    width: fit-content;
    margin: 0 auto;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5em;
}


/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.navLink {
    padding: 10px 50px;
    width: inherit;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.navLink:hover {
    background: rgba(228, 228, 228, 0.74);
    color: rgb(24, 23, 23);
}
