header {
    z-index: 2;
    text-align: center;
}

header i {
    color: white;
   
}

.dropdown {
    position: fixed;
    right: 10px;
    top: 5px;
    transition: .5s;
}

.dropdown-content {
    /* display: none; */
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.774);
    right: 0;
    width: 300px;
    transition: .5s;
}

/* .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.596);
    right: 0;
} */

#pageTitle {
    
    display: inline;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5em;
}


/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.navLink {
    padding: 10px 50px;
    width: inherit;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.navLink:hover {
    background: rgba(228, 228, 228, 0.897);
    color: rgb(24, 23, 23);
}

@media only screen and (max-width: 600px) {
  .dropdown {
    right: 5px;
  }

  #pageTitle {
      font-size: 2.3em;
  }
}