.thumb {
    max-width: 95%;
    height: 200px;
    transition: transform .5s;
    border: 2px solid white;
    margin: 2px;
    margin-top: 5px;
    opacity: .85;
}
.thumb:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .thumb {
        max-height: 150px;
    }
}