.App {
  background: url('./Denver_skyline.jpg') no-repeat center center fixed; 
  background-size: cover; 
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 1fr 3vh;
  height: 100vh;
  width: 100%;
  position: fixed;
}

Header {
  grid-area: header;
  height: 100%;
  width: 100%;
}

main {
  /* background: url('./denver2.png');
  opacity: .5; */
  position: absolute;
  grid-area: main;
  height: 100%;
  width: 100%;
}

Footer {
  grid-area: footer;
  text-align: center;
}

.fade-appear
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

h2 {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

a {
  color: rgb(0, 13, 126);
  font-weight: 700;
  text-decoration: none;
}


