.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 5vh;
  height: 100vh;
}

Header {
  grid-area: header;
}

main {
  position: absolute;
  grid-area: main;
  right: 0;
  left: 0;
}

Footer {
  grid-area: footer;
}

.fade-appear
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}